###############################################################
#                                                             
#  This file is part of your-app-name
#
#  Copyright (c) 2024 Alexander Mann-Wahrenberg (basejumpa)
#
#      https://github.com/basejumpa
#
#  License(s)
#  
#  - MIT for contents used as software
#  - CC BY-SA-4.0 for contents used as method or otherwise
#  
###############################################################

# Local (scope is this repository some kind of "virtual" extensions and user settings)
# Appear when you (cwd is VS Code project's root) start VS Code as
#
# $ code --extensions-dir .extensions/ --user-data-dir .user/ --profile profile-${PWD##*/}-$(whoami) .
#
# Advantage: Do not touch your system's VS Code environment. Same as with pipenv
/.extensions/
/.user/




# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
